<div class="container">
    <h1>Login</h1>
    <form action="">
        <div class="form-group">
            <label for="user">Username/Email</label>
            <input type="text" class="form-control" id="user" placeholder="Username/Email" >
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password" >
        </div>

        <button class="btn btn-primary">LOGIN</button>
    </form>
</div>
