<div class="container">
    <h1>Signup</h1>
    <form action="">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" >
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" >
        </div>
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" id="dob" >
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label for="weightCategory">Weight Category</label>
                    <select class="form-control" id="weightCategory" [(ngModel)]="selectedWeightCategory">
                        <option value="" disabled selected>Select..</option>
                        <option value="Category 1">Category 1</option>
                        <option value="Category 2">Category 2</option>
                        <option value="Category 3">Category 3</option>
                        <option value="Category 4">Category 4</option>
                        <option value="Category 5">Category 5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" >
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="user">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password" >
            </div>
            
            <div class="form-group col-md-6">
                <label for="reEnterPassword">Re-Enter Password</label>
                <input type="text" class="form-control" id="reEnterPassword" placeholder="Re-Enter Password" >
            </div>
        </div>

        <button class="btn btn-primary">LOGIN</button>
    </form>
</div>
